<table class="table table-bordered table-hover" data-sort-name="ISBN" data-sort-order="desc">
	<thead>
		<tr>
			<th>ID</th>
			<th>ISBN</th>
			<th>REVIEW TEXT</th>
			<th>USER</th>
			<th>STAR RATING</th>
		</tr>
	</thead>
	<% @reviews.each do |review| %>
	<tbody>
		<td><%= review.id %></td>
	    <td><%= review.isbn %></td>
	    <td><%= review.title %></td> 
	    <td><%= review.review_text %></td>
	    <td><%= review.star_rating %></td>

	</tbody>
	<% end %>

</table>