<%10.times do |number| %>
		<% if @returned_books[number]["volumeInfo"]["printType"] == "BOOK" && @returned_books[number]["volumeInfo"]["industryIdentifiers"] && @returned_books[number]["volumeInfo"]["authors"]%>
			<div class="single_result">
				<div class="cover_result">
					<% if @returned_books[number]["volumeInfo"]["imageLinks"]%>
							<img src="<%=@returned_books[number]["volumeInfo"]["imageLinks"]["smallThumbnail"]%>">
						<% else%>
							<img><span>No Image</span></img>
					<% end %>
				</div>
				<div class="description_result">
					<p><strong>Title: </strong><%="#{@returned_books[number]["volumeInfo"]["title"]}" %></p>
						<% @returned_books[number]["volumeInfo"]["authors"].each do |this|%>
							<p>
								<strong>Author: </strong><%="#{this}" %>
							</p>
						<%end%>
					<p><strong>Publisher: </strong><%="#{@returned_books[number]["volumeInfo"]["publisher"]}" %></p>
					<p><strong>Publish Date: </strong><%="#{@returned_books[number]["volumeInfo"]["publishedDate"]}" %></p>
					
					<% @returned_books[number]["volumeInfo"]["industryIdentifiers"].each do |this|%>
						<% if this["type"] == "ISBN_10"%>
							<p>
							<%= button_to "Get Reviews", reviews_path, :method => "post", :params => {
							:choice => "#{this["identifier"]}",
							:img => "#{@returned_books[number]["volumeInfo"]["imageLinks"]["smallThumbnail"]}",
							:title => "#{@returned_books[number]["volumeInfo"]["title"]}",
							:pub => "#{@returned_books[number]["volumeInfo"]["publisher"]}",
							:date => "#{@returned_books[number]["volumeInfo"]["publishedDate"]}"}%> 
							</p>
						<% else %>
						<% end %>
					<% end %>
				</div>
			</div>
	<%end%>
<%end%>
