         <div class="chosenTitle">
            <div class="bookCover">
              <%if @img%>
                <img src="<%=@img%>">
              <%end%>
            </div>
            <div class="bookDescription">
              <p><%=@title%></p>
              <p><%=@pub%></p>
              <p><%=@date%></p>
            </div>
        </div>
  <div role="tabpanel">
      <!-- Nav tabs -->
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a id="reviewsTab" href="#reviews" aria-controls="reviewsTab" role="tab" data-toggle="tab">Reviews</a></li>
        <li role="presentation"><a id="wordCloudTab" href="#wordCloudPanel" aria-controls="wordCloudTab" role="tab" data-toggle="tab">Word Clouds</a></li>
        <li role="presentation"><a id="themesTab" href="#themes" aria-controls="themesTab" role="tab" data-toggle="tab">Thematic Analysis</a></li>
        <li role="presentation"><a id="shelvesTab" href="#shelves" aria-controls="shelvesTab" role="tab" data-toggle="tab">Goodreads Shelves</a></li>
      </ul>
    </div>

 <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" aria-labelledby="reviewsTab" class="tab-pane fade in active" id="reviews">
  <div class="searchReviews">
    <%= form_tag "/", method: "GET" do |f| %>
      <%= label_tag(:isbn, "Search reviews:") %>
      <%= text_field_tag(:isbn, params[:isbn]) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>  

  	<%= render 'list' %></div>
      
  <div role="tabpanel" aria-labelledby="wordCloudTab" class="tab-pane fade" id="wordCloudPanel">
		<div class="btn-group" data-toggle="buttons-checkbox">
			<h2>Filter reviews</h2>
			<button type="button" id="sb1" class="btn btn-default btn-lg">
			  	<span class="glyphicon glyphicon-star" aria-hidden="true"></span> 1 Star
			</button>
			<button type="button" id="sb2" class="btn btn-default btn-lg">
			  	<span class="glyphicon glyphicon-star" aria-hidden="true"></span> 2 Star
			</button>
			<button type="button" id="sb3" class="btn btn-default btn-lg">
			  	<span class="glyphicon glyphicon-star" aria-hidden="true"></span> 3 Star
			</button>
			<button type="button" id="sb4" class="btn btn-default btn-lg">
			  	<span class="glyphicon glyphicon-star" aria-hidden="true"></span> 4 Star
			</button>
			<button type="button" id="sb5" class="btn btn-default btn-lg">
			  	<span class="glyphicon glyphicon-star" aria-hidden="true"></span> 5 Star
			</button>
			<button type="submit" id="starSubmit" class="btn btn-default btn-lg"> Submit 
			</button>
		</div>
		<div class="cloudParams">
			<p>Exclude words (space separated): <input type="text" name="fname" id="user_excludes"></p>
			<p>Minimum word frequency: <input type="text" name="fname" id="count_limit" value="4"></p>
			<!-- <p>Toggle Counts <input type="checkbox" name="counts" value="Bike"></p> -->
		</div>
    <div class="spinnerBox" id="cloud_spinner">
			<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom" ></i>
		</div>
      <div class="wordCloudsBox">
			</div>
  </div>
  <div role="tabpanel" aria-labelledby="themesTab" class="tab-pane fade" id="themes">
  	<div id="monkey_themes">
  	</div>
  	<div id="monkey_keywords">
  		<h1>MonkeyLearn's Keyword Analysis</h1>
      <canvas id="keywordsChart" width="1000px" height="600px"></canvas>
      <div class="spinnerBox" id="monkey_spinner">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom" ></i>
      </div>
  	</div>
  </div>
  <div role="tabpanel" aria-labelledby="shelvesTab" class="tab-pane fade" id="shelves">
      <div id="shelves_chart_box" class=".container-fluid">
          <h1>Goodreads Shelves - Category Roll-Ups</h1>
          <div id="rolled_shelves">
             <canvas id="rollShelvesChart" class="shelvesChart" width="900px" height="600px"></canvas>
             <div class="spinnerBox">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom" ></i>
              </div>
          </div>
        <h1>Goodreads Shelves - All Shelves</h1>
         <div id="all_shelves">
            <canvas id="allShelvesChart" class="shelvesChart" width="900px" height="600px"></canvas>
             <div class="spinnerBox">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom" ></i>
              </div>
          </div>
      <div class="col-sm-4">
            <h2>Category Roll-Ups</h2>
            <table id="rolled_shelves_table"class="table table-bordered table-hover shelves_table" data-sort-name="val" data-sort-order="desc">
                <thead>
                  <tr>
                    <th data-sortable="true">Shelf Name</th>
                    <th data-sortable="true">Count</th>
                  </tr>
                </thead>
            </table>
        </div>
        <div class="col-sm-4">
            <h2>All Shelves</h2>
            <table id="all_shelves_table" class="table table-bordered table-hover shelves_table" data-sort-name="val" data-sort-order="desc">
                <thead>
                  <tr>
                    <th data-sortable="true">Shelf Name</th>
                    <th data-sortable="true">Count</th>
                  </tr>
                </thead>
            </table>
          </div>
      </div>
      
    </div>
  </div>
</div>

